process{
  withName:expression_stringtie{
    container = 'file:///gpfs/projects/bsc83/utils/containers/singularity/rnaseqnew.simg'
  }

  withName:filterExpression{
    container = 'file:///gpfs/projects/bsc83/utils/containers/singularity/rannotation.simg'
  }

  withName:gffCompare{
  container = 'file:///gpfs/projects/bsc83/utils/containers/singularity/rnaseqnew.simg'
  }


}

singularity {
    enabled = true
}
