src/plots/*
._*
*.log
*.DS_Store
src/work/*
.nextflow*
src/err/*
src/out/*
src/flowcharts/*
*.png
work/*
*/out
*/err
test.nf
nextflow_pipelines/01_CLUSTER_Marenostrum/tmp
nextflow_pipelines/01_CLUSTER_Marenostrum/err
nextflow_pipelines/01_CLUSTER_Marenostrum/out
nextflow_pipelines/00_CLUSTER_Nord3/out
nextflow_pipelines/00_CLUSTER_Nord3/err
nextflow_pipelines/00_CLUSTER_Nord3/work
nextflow_pipelines/01_CLUSTER_Marenostrum/work
singularity
.Rhistory
.RData
src/scripts/Analysis/results/
