process{
  withLabel: big_mem {
    memory = 90.GB
  }
  withName:geneAbundanceUmis{
    container = 'file:///gpfs/projects/bsc83/Projects/Ebola/code/ebola/singularity/gtex_rnaseq-V8.simg'
  }
  withName:geneAbundanceMds{
    container = 'file:///gpfs/projects/bsc83/Projects/Ebola/code/ebola/singularity/gtex_rnaseq-V8.simg'
  }
  withName:geneAbundanceFilter{
    container = 'file:///gpfs/projects/bsc83/Projects/Ebola/code/ebola/singularity/gtex_rnaseq-V8.simg'
  }
  withName:prepareCountMatrices{
    container = 'file:///gpfs/projects/bsc83/Projects/Ebola/code/ebola/singularity/ubuntu-java-python2.simg'
  }
  withName:feelnc_filter{
    container = 'file:///gpfs/projects/bsc83/Projects/Ebola/code/ebola/singularity/feelnc-0.1.1.simg'
  }
  withName:feelnc_codpot{
    container = 'file:///gpfs/projects/bsc83/Projects/Ebola/code/ebola/singularity/feelnc-0.1.1.simg'
  }
}


singularity {
    enabled = true
}
