process{

  container = 'file:///gpfs/projects/bsc83/utils/containers/singularity/rannotation_forcats.simg'

  withName:'expression_stringtie|DeNovoAssembly|StringTie_Merge_Reference_Guided'{
    container = 'file:///gpfs/projects/bsc83/utils/containers/singularity/rnaseqnew.simg'
  }
  withName:stringtie{
    container = 'file:///gpfs/projects/bsc83/utils/containers/singularity/rnaseqnew.simg'
  }



  withName:filterExpression{
    container = 'file:///gpfs/projects/bsc83/utils/containers/singularity/rannotation.simg'
  }

  withName:'gffCompare|gffCompare2'{
  container = 'file:///gpfs/projects/bsc83/utils/containers/singularity/rnaseqnew.simg'
  }
  withName:getFasta{
  container = "file:///gpfs/projects/bsc83/utils/containers/singularity/bedtoolsv2.27.simg"
  }
  withName:CPC2{
  container = "file:///gpfs/projects/bsc83/utils/containers/singularity/cpc2.simg"
  }
  withName:CPAT{
  container = "file:///gpfs/projects/bsc83/utils/containers/singularity/cpat.simg"
  }
  withName:CNIT{
  container = "file:///gpfs/projects/bsc83/utils/containers/singularity/cnit.simg"
  }
}

singularity {
    enabled = true
}
